@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    height: 85px;
    display: flex;
    align-items: center;
}

.navHeader {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

.containerLinks {
    /* background-color: blue; */
    display:  flex;
    justify-content: space-between;
    width: 210px;
}

.link {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 27px;
    color: #33303E;
}
.orange {
    color: #FF6E22;
}